/* ================================
    HEADER
=================================== */

.header {
    background: #0f172a;
    border-bottom: 2px solid #1e293b;
    padding: 15px 25px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 22px;
    letter-spacing: 2px;
}

/* MENU ICON */
.menu-icon {
    font-size: 26px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.menu-icon:hover {
    color: #38bdf8;
}

/* ================================ */

/* ================================
    SIDEBAR
=================================== */

.sidebar {
    position: fixed;
    right: -260px;
    top: 0;

    width: 260px;
    height: 100%;
    background: #020617;

    padding-top: 20px;

    transition: 0.3s;

    display: flex;
    flex-direction: column;

    z-index: 1000;
}

.sidebar.open {
    right: 0;
}

/* HEADER SIDEBAR */ 
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    color: white;
    font-family: monospace;
}

/* CLOSE BUTTONO */
.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* LINKS */
.sidebar a {
    color: #94a3b8;
    text-decoration: none;

    padding: 15px 30px;
    font-family: monospace;

    transition: 0.2s;
}

.sidebar a:hover {
    background: #0f172a;
    color: #38bdf8;
}

/* ================================= */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

main {
    padding: 30px;
}

/* Parte dedicata alle Section con le diverse spiegazioni
    Finche non viene selezionata dalla Nav Bar, il contenuto non viene visualizzato
*/
.content {
    display: none;
    animation: fade 0.5s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.active {
    display: block;
}