<header class="header">

    <div class="header-container">

        <h1 class="logo">Computer Basics</h1>

        <div class="menu-icon" onclick="toggleMenu()">
            ☰
        </div>

    </div>

</header>

<!-- SIDEBAR MENU
    Label dove verranno messe tutte le lezioni che verranno trattate sul sito web
-->
<div id="sidebar" class="sidebar">
    
    <div class="sidebar-header">
        <span>Menu</span>
        <button class="clos-btn" onclick="closeMenu()">✕</button>
    </div>
    
    <a href="index.html">Home</a>
    <a href="#">Lezione 1</a>
    <a href="#">Lezione 2</a>
    <a href="#">Lezione 3</a>
    <a href="#">Lezione 4</a>
</div>